<!--Default loading during reminder fetch or init-->
<div *ngIf="!reminders">
  <c-row class="align-items-center justify-content-center">
    <c-col xs="12" class="align-self-center text-center p-5">
      <c-col>
        <c-spinner></c-spinner>
      </c-col>
      <c-col> Loading Reminders ...</c-col>
    </c-col>
  </c-row>
</div>

<!--If we do not have reminders name it-->
<div *ngIf="reminders && reminders.length <= 0; else displayReminders">
  <div>
    <p>{{ reminderQueryErrorMsg }}</p>
  </div>
</div>

<!--If we have reminders, display them-->
<ng-template #displayReminders>
  <c-row *ngIf="reminders && reminders.length > 0">
    <c-col>
      <div cListGroup flush>
        <div cListGroupItem>
          <c-row class="align-items-start">
            <c-col [xs]="3"><h6>Created</h6></c-col>
            <c-col [xs]="3"><h6>Interval</h6></c-col>
            <c-col [xs]="2"><h6>Type</h6></c-col>
            <c-col [xs]="3"><h6>Last Sent</h6></c-col>
            <c-col [xs]="1"><h6></h6></c-col>
          </c-row>
        </div>
        <button
          (click)="toggleReminderDetails(reminder, 'Edit')"
          cListGroupItem
          *ngFor="let reminder of reminders"
        >
          <c-row class="align-items-center">
            <c-col [xs]="3">{{ reminder.contactId }}</c-col>
            <c-col [xs]="3">{{ reminder.contactInterval }}</c-col>
            <c-col [xs]="2">{{ reminder.lastContacted }}</c-col>
            <c-col [xs]="3">{{ reminder.lastContacted }}</c-col>
            <c-col [xs]="1">
              <a (click)="toggleDeleteReminder(reminder)" class="trash-link">
                <svg cIcon="" name="cilTrash" size="xl"></svg>
              </a>
            </c-col>
          </c-row>
        </button>
      </div>
    </c-col>
  </c-row>
  <c-row>
    <c-col>
      <button
        (click)="toggleReminderDetails(createReminder(), 'Create')"
        cButton
      >
        Create Reminder
      </button>
    </c-col>
  </c-row>
</ng-template>

<!--Reminder Details modal view-->
<app-reminder-detail
  #reminderDetails
  [selectedReminder]="selectedReminder"
></app-reminder-detail>

<!--Delete Reminder modal view-->
<app-delete-reminder
  #deleteReminder
  [selectedReminder]="selectedReminder"
></app-delete-reminder>
