<c-container>
  <div *ngIf="contact; else noContactSelected">
    <c-row class="align-items-start">
      <c-col [xs]="5" md="4" lg="3" xl="2">
        <div class="p-3 ps-1">
          <c-avatar
            *ngIf="contact.photoBackgroundUrl; else noAvatar"
            size="xxxl"
            class="contact-avatar"
            style="background-image: {{ contact.photoBackgroundUrl }};"
          ></c-avatar>
          <ng-template #noAvatar>
            <c-avatar
              size="xxxl"
              class="contact_avatar"
              [color]="avatarBackgroundColor"
              >{{ contact.initials }}</c-avatar
            >
          </ng-template>
        </div>
      </c-col>
      <c-col [xs]="7" md="8" lg="9" xl="10">
        <c-row class="align-items-start">
          <c-col class="p-1">
            <div>
              <h1 class="display-5">{{ contact.fn }}</h1>
            </div>
          </c-col>
        </c-row>
        <c-row *ngIf="contact.age">
          <c-col class="p-1">
            <label>Age: {{ contact.age }}</label>
          </c-col>
        </c-row>
      </c-col>
    </c-row>
    <c-row>
      <c-col [xs]="12" lg="4">
        <c-row>
          <c-col>
            <c-card class="mb-4">
              <c-card-header>
                <strong>Contact Information</strong>
              </c-card-header>
              <c-card-body>
                <c-accordion [flush]="true" [alwaysOpen]="true">
                  <c-accordion-item #item0="cAccordionItem" [visible]="false">
                    <ng-template cTemplateId="accordionHeaderTemplate">
                      <button
                        (click)="item0.toggleItem()"
                        [collapsed]="!item0.visible"
                        cAccordionButton
                      >
                        <strong>E-Mail Addresses</strong>
                      </button>
                    </ng-template>
                    <ng-template cTemplateId="accordionBodyTemplate">
                      <div class="accordion-body">
                        <div
                          cListGroup
                          flush
                          *ngIf="contact.emails; else noData"
                        >
                          <button
                            cListGroupItem
                            *ngFor="let email of contact.emails"
                          >
                            <h6>{{ email.type }}</h6>
                            {{ email.value }}
                          </button>
                        </div>
                      </div>
                    </ng-template>
                  </c-accordion-item>
                  <c-accordion-item #item1="cAccordionItem" [visible]="false">
                    <ng-template cTemplateId="accordionHeaderTemplate">
                      <button
                        (click)="item1.toggleItem()"
                        [collapsed]="!item1.visible"
                        cAccordionButton
                      >
                        <strong>Phones</strong>
                      </button>
                    </ng-template>
                    <ng-template cTemplateId="accordionBodyTemplate">
                      <div class="accordion-body">
                        <div
                          cListGroup
                          flush
                          *ngIf="contact.phones; else noData"
                        >
                          <button
                            cListGroupItem
                            *ngFor="let phone of contact.phones"
                          >
                            <h6>{{ phone.type }}</h6>
                            {{ phone.number }}
                          </button>
                        </div>
                      </div>
                    </ng-template>
                  </c-accordion-item>
                </c-accordion>
              </c-card-body>
            </c-card>
          </c-col>
        </c-row>
        <c-row>
          <c-col>
            <c-card class="mb-4">
              <c-card-header>
                <strong>Addresses</strong>
              </c-card-header>
              <c-card-body>
                <div cListGroup flush *ngIf="contact.addresses; else noData">
                  <button
                    cListGroupItem
                    *ngFor="let address of contact.addresses"
                  >
                    <h6>{{ address.type }}</h6>
                    {{ address.street }}<br />
                    {{ address.postalCode }} {{ address.location }}
                  </button>
                </div>
              </c-card-body>
            </c-card>
          </c-col>
        </c-row>
      </c-col>
      <c-col [xs]="12" lg="8">
        <!-- Elements on the right -->
        <c-card class="mb-4">
          <c-card-header>
            <strong>Reminders</strong>
          </c-card-header>
          <c-card-body>
            <div *ngIf="reminders.length > 0; else noReminder">
              <div cListGroup flush>
                <div cListGroupItem>
                  <c-row class="align-items-start">
                    <c-col [xs]="3"><h6>Created</h6></c-col>
                    <c-col [xs]="3"><h6>Interval</h6></c-col>
                    <c-col [xs]="2"><h6>Type</h6></c-col>
                    <c-col [xs]="3"><h6>Last Sent</h6></c-col>
                    <c-col [xs]="1"><h6></h6></c-col>
                  </c-row>
                </div>
                <button
                  (click)="displayReminderDetails(reminder, 'Edit')"
                  cListGroupItem
                  *ngFor="let reminder of reminders"
                >
                  <c-row class="align-items-center">
                    <c-col [xs]="3">{{ reminder.contactId }}</c-col>
                    <c-col [xs]="3">{{ reminder.contactInterval }}</c-col>
                    <c-col [xs]="2">{{ reminder.lastContacted }}</c-col>
                    <c-col [xs]="3">{{ reminder.lastContacted }}</c-col>
                    <c-col [xs]="1">
                      <a (click)="maybeDelete(reminder)" class="trash-link">
                        <svg
                          cIcon=""
                          name="cilTrash"
                          size="xl"
                          class="colo"
                        ></svg>
                      </a>
                    </c-col>
                  </c-row>
                </button>
              </div>
            </div>
            <button
              cButton
              class="mt-2"
              (click)="displayReminderDetails(createReminder(), 'Create')"
            >
              Create Reminder
            </button>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </div>
  <ng-template #noContactSelected>
    <div>Please select a contact to display its details!</div>
  </ng-template>
</c-container>

<!--Reminder details modal view-->
<c-modal
  id="reminderDetails"
  [visible]="showReminderDetails"
  (visibleChange)="handleReminderDetailsChange($event)"
>
  <c-modal-header>
    <h5 cModalTitle>{{ reminderDetailsTitle }}</h5>
    <button (click)="handleReminderDetailsChange(false)" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div>
      <label><strong>Uid:</strong></label> {{ selectedReminder?.lastContacted }}
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button
      (click)="handleReminderDetailsChange(false)"
      cButton
      color="secondary"
    >
      Close
    </button>
    <button cButton color="primary">Save Changes</button>
  </c-modal-footer>
</c-modal>

<!--Delete reminder modal view-->
<c-modal
  id="deleteReminder"
  [visible]="showReminderDelete"
  (visibleChange)="handleDeleteReminderChange($event)"
>
  <c-modal-header>
    <h5 cModalTitle>Delete Reminder</h5>
    <button (click)="handleDeleteReminderChange(false)" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div>
      <label><strong>Uid:</strong></label> {{ selectedReminder?.lastContacted }}
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button
      (click)="handleDeleteReminderChange(false)"
      cButton
      color="secondary"
    >
      Close
    </button>
    <button cButton color="danger">Delete Reminder</button>
  </c-modal-footer>
</c-modal>

<!--Missing data templates -->
<ng-template #noData>
  <p>No data available!</p>
</ng-template>

<ng-template #noReminder>
  <div>
    <p>No reminders set!</p>
  </div>
</ng-template>
