<div *ngIf="viewMode">
  <div *ngIf="currentContact">
    <h4>Contact</h4>
    <div>
      <label><strong>Uid:</strong></label> {{ currentContact.uid }}
    </div>
    <div>
      <label><strong>Name:</strong></label> {{ currentContact.fn }}
    </div>
    <div>
      <label><strong>Photo:</strong></label>
      <img [src]="currentContact.photoSrc" alt="contact_picture" />
    </div>
  </div>
  <div *ngIf="!currentContact">
    <br />
    <p>Please click on a Contact...</p>
  </div>
  <button
    *ngIf="currentContact"
    type="button"
    class="btn prev btn-primary"
    (click)="createDummyStayInTouch(currentContact)"
  >
    Stay In Touch 48h
  </button>
</div>
