<c-modal
  id="reminderDetails"
  [visible]="show"
  (visibleChange)="handleReminderDetailsChange($event, f)"
>
  <c-modal-header>
    <h5 cModalTitle>{{ modalTitle }}</h5>
    <button
      (click)="handleReminderDetailsChange(false, f)"
      cButtonClose
    ></button>
  </c-modal-header>
  <c-modal-body>
    <c-container>
      <form
        (ngSubmit)="onSubmit($event, f)"
        [gutter]="3"
        [validated]="customStylesValidated"
        novalidate
        cForm
        cRow
        class="needs-validation"
        id="reminder_form"
        #f="ngForm"
      >
        <c-row class="align-items-center m-2">
          <c-col [xs]="4">Date</c-col>
          <c-col [xs]="8">
            <c-input-group class="has-validation">
              <input
                class="form-control"
                [value]="formDateString(selectedReminderFormData.date)"
                name="datepicker"
                ngbDatepicker
                #d="ngbDatepicker"
                aria-describedby="inputGroupPrepend"
                required
                type="date"
                [ngModel]="selectedReminderFormData.date"
              />
              <button
                class="btn btn-outline-secondary calendar"
                (click)="d.toggle()"
                type="button"
              >
                <svg cIcon="" name="cil-calendar" size="auto"></svg>
              </button>
              <c-form-feedback [valid]="false"
                >Please provide a valid date!
              </c-form-feedback>
            </c-input-group>
          </c-col>
        </c-row>
        <c-row class="align-items-center m-2">
          <c-col [xs]="4">Interval</c-col>
          <c-col [xs]="8">
            <c-row>
              <c-col [xs]="4">
                <input
                  cFormControl
                  type="number"
                  [value]="selectedReminderFormData.interval.formVal"
                  min="1"
                  max="12"
                  name="interval_value"
                  required
                  [ngModel]="selectedReminderFormData.interval.formVal"
                />
                <c-form-feedback [valid]="false"
                  >Please select a valid interval unit!
                </c-form-feedback>
              </c-col>
              <c-col [xs]="8">
                <select
                  cSelect
                  name="interval_unit"
                  required
                  [ngModel]="selectedReminderFormData.interval.unit"
                >
                  <option [value]="selectedReminderFormData.interval.unit">
                    {{ selectedReminderFormData.interval.unit }}
                  </option>
                  <option
                    *ngFor="
                      let unit of selectedReminderFormData.interval
                        .availableUnits
                    "
                    [value]="unit"
                  >
                    {{ unit }}
                  </option>
                </select>
                <c-form-feedback [valid]="false"
                  >Please select a valid interval unit!
                </c-form-feedback>
              </c-col>
            </c-row>
          </c-col>
        </c-row>
      </form>
    </c-container>
  </c-modal-body>
  <c-modal-footer>
    <button
      (click)="handleReminderDetailsChange(false, f)"
      cButton
      color="secondary"
    >
      Close
    </button>
    <button
      cButton
      form="reminder_form"
      class="me-1"
      color="primary"
      type="submit"
    >
      Save
    </button>
  </c-modal-footer>
</c-modal>

<!--Query result toast-->
<c-toaster class="p-3" position="fixed"></c-toaster>
