<c-modal
  id="reminderDetails"
  [visible]="show"
  (visibleChange)="handleReminderDetailsChange($event)"
>
  <c-modal-header>
    <h5 cModalTitle>{{ modalTitle }}</h5>
    <button (click)="handleReminderDetailsChange(false)" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-container>
      <form
        (ngSubmit)="save()"
        [gutter]="3"
        [validated]="customStylesValidated"
        novalidate
        cForm
        cRow
        class="needs-validation"
        id="reminder-form"
      >
        <c-row class="align-items-center m-2">
          <c-col [xs]="4">Date</c-col>
          <c-col [xs]="8">
            <c-input-group class="has-validation">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                ngbDatepicker
                #d="ngbDatepicker"
                aria-describedby="inputGroupPrepend"
                id="validationCustom02"
                required
                type="date"
              />
              <button
                class="btn btn-outline-secondary calendar"
                (click)="d.toggle()"
                type="button"
              >
                <svg cIcon="" name="cil-calendar" size="auto"></svg>
              </button>
              <c-form-feedback [valid]="false"
                >Please provide a valid date!</c-form-feedback
              >
            </c-input-group>
          </c-col>
        </c-row>
        <c-row class="align-items-center m-2">
          <c-col [xs]="4">Interval</c-col>
          <c-col [xs]="8">
            <c-row>
              <c-col [xs]="4">
                <input
                  cFormControl
                  type="number"
                  value="1"
                  min="1"
                  id="validationCustom03"
                  required
                />
                <c-form-feedback [valid]="false"
                  >Please select a valid interval unit!</c-form-feedback
                >
              </c-col>
              <c-col [xs]="8">
                <select cSelect id="validationCustom04" required>
                  <option
                    [value]="
                      selectedReminderIntervalUnit
                        ? defaultReminderIntervalUnit
                        : defaultReminderIntervalUnit
                    "
                    #selectedReminderOption
                  >
                    {{
                      selectedReminderIntervalUnit
                        ? defaultReminderIntervalUnit
                        : defaultReminderIntervalUnit
                    }}
                  </option>
                  <option
                    *ngFor="let unit of reminderIntervalUnits"
                    (click)="selectedReminderOption.textContent = unit"
                    [value]="unit"
                  >
                    {{ unit }}
                  </option>
                </select>
                <c-form-feedback [valid]="false"
                  >Please select a valid interval unit!</c-form-feedback
                >
              </c-col>
            </c-row>
          </c-col>
        </c-row>
      </form>
    </c-container>
  </c-modal-body>
  <c-modal-footer>
    <button
      (click)="handleReminderDetailsChange(false)"
      cButton
      color="secondary"
    >
      Close
    </button>
    <button
      cButton
      form="reminder-form"
      class="me-1"
      color="primary"
      type="submit"
    >
      Save
    </button>
  </c-modal-footer>
</c-modal>
