<c-modal
  id="deleteReminder"
  [visible]="show"
  (visibleChange)="handleDeleteReminderChange($event)"
>
  <c-modal-header>
    <h5 cModalTitle>Delete Reminder</h5>
    <button (click)="handleDeleteReminderChange(false)" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div>
      <label><strong>Uid:</strong></label>
      {{ selectedReminder?.lastTimeReminded }}
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button
      (click)="handleDeleteReminderChange(false)"
      cButton
      color="secondary"
    >
      Close
    </button>
    <button cButton color="danger" (click)="deleteReminder()">
      Delete Reminder
    </button>
  </c-modal-footer>
</c-modal>

<!--Query result toast-->
<c-toaster class="p-3" position="fixed"></c-toaster>
